<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2014-2017 Accenture Australia Pty Ltd
-->
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="OFF" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
    <system.web>
        <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F9C4285569B57757A5924C50C1D88038C" validation="SHA1" validationKey="9C4285569B57757A5924C50C1D88038C0D65AA6E9DE62168764FF0DCE537184F0535D5D9AD66DEDC9C4285569B57757A5924C50C1D88038C0D65AA6E97DC1ABF" />
    </system.web>
</configuration>
<!--ProjectGuid: 58C66F44-C524-4F76-A456-68A84EFC7F6F-->